
*{
    margin: 0;
    padding: 0;
}
.page{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    position: relative;

}

.status p{
    float: left;
    width: 80px;
    height: 80px;
    border: 3px solid transparent;
    box-shadow: 2px 2px 4px black;
    line-height: 90px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    margin-right: 30px;
    overflow: hidden;
    cursor: pointer; 
    transition: .5s;
    position: relative;
    position: sticky;

}
 .status p:hover{
    transform: scale(1.1);
    box-shadow: 0 6px 10px rgb(43, 2, 2);
    border: 3px solid transparent;
    background: linear-gradient(45deg,white,white) padding-box,linear-gradient(45deg,rgba(17, 212, 50, 0.5),rgba(9, 145, 27, 0.5),rgba(3, 68, 14, .5)) border-box;
    z-index: 1;
}

.container{
    display: flex;
    width: 960pxpx;
    justify-content: center;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.insta i{
    font-size: 20px;
    padding: 4px;
    
}
.icon i{
    font-size: 25px;
    margin-right: 25px;
}
.top{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
}
.bottom{
    display: flex;
    justify-content: space-around;
    align-content: center;
    background-color: white;
    position: sticky;
    bottom: 0;
    padding: 10px;
}
.bottom i{
    font-size: 20px;
}
.dp img{
   border-radius: 50%;
   border: 1px solid gray;
    
}
.flowContent{
    border: 1px solid rgb(228, 204, 204);
    box-shadow: 0 0 1px rgb(231, 229, 229),0 0 7px rgb(226, 223, 223),0 0 1px rgb(158, 155, 155);
    min-height: 400px;
    margin: 10px;
    
}

.flowHead{
    display: flex;   
    justify-content: space-between;
    align-items: center;
    margin:0 15px;
   
}
.marginLeft{
    display: flex;
    align-items: center;

}
.marginLeft i img{
    border-radius: 50%;
    border: 2px solid gray;
}
.marginLeft p{
    margin-left: 10px;
}
.back{
   // box-shadow:0  0 2px 0 ,0 0 4px rgb(255, 255, 255);
}
/* gradient color */
.status p{
    background: linear-gradient(45deg,white,white) padding-box,linear-gradient(45deg,rgba(238, 12, 189,0.5),rgba(238, 11, 11,0.6),rgba(243, 194, 34,0.5)) border-box;
}
.flowbottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px;
    font-size: 20px;
}
.bleft i{
    padding: 10px;
}
@media only screen and (max-width:460px) {
    .status p{
       width: 40px;
       height: 40px;
       
    }
}
.top{
    position: sticky;
    top: 0;
    padding: 10px;
}
.top ul{
    position: absolute;
    background-color: white;
    top: 50px;
    left: 50px;
    border-radius: 5px;
  
    box-shadow: 0 0 4px white,0 0 7px rgba(17, 5, 5,.5);
}
.top ul li{
    list-style: none;
    padding: 10px;
    display: block;
}

.top ul li a{
    text-decoration: none;
    color: black;
    padding: 20px;
    font-weight: bold;
    
}
.top ul li:hover{
    background:linear-gradient(45deg,red,orange,rgb(235, 26, 148)) padding-box,linear-gradient(45deg,white ,white,white) border-box;
    border-radius: 5px;
}
.top ul li:first-child{
    border-bottom: 1px solid grey;
}
.top h1 i{
    cursor: pointer;
   
}
/* .show{
    display: none;
    position: absolute;
    
} */
/* .insta i:hover .show{
    display: block;
} */
#show{
    display: none;
}
.bottom .red:hover{
    color: red;
    cursor: pointer;
    transform: scale(1.1);
}
.flowbottom .fa-heart:hover{
    color: red;
    transform: scale(1.1);
}
.flowContent .fa-tag:hover{
    color: blue;
    cursor: pointer;
    transform: scale(1.1);
}
.flowContent .fa-comment:hover{
    color: orangered;
    cursor: pointer;
    transform: scale(1.1);
}
.flowContent .fa-paper-plane:hover{
    color: seagreen;
    cursor: pointer;
    transform: scale(1.1);
}
.Hdb{
    background: linear-gradient(45deg,white,white) padding-box,linear-gradient(45deg,rgba(238, 12, 189,0.5),rgba(238, 11, 11,0.6),rgba(243, 194, 34,0.5)) border-box;
}
/* editMenu */
/* .page{
   // position: relative
} */

.editMenu{
    width: 560px;
    height: 350px;
    position: fixed;
    border-radius:  50px 50px 0 0 ;
    margin-left: 10px;
    bottom: 50px;
    background-color: white;
    box-shadow: 0 0 4px;
}
.eTop i{
    margin-bottom: 5px;
    font-size: 30px;

}
.eIcon{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid grey;
}
.eIcon i{
    border: 1px solid black;
    padding: 20px;
    border-radius: 50%;
    margin-bottom: 5px;
}
.eIcon p{
    margin-bottom: 20px;
}
.eIcon .fa-exclamation{
    width: 15px;
    color: red;
    border-color: red;
}
.ePara p{
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid grey;
    font-size: 15px;
    font-weight: bold;
}
.ePara p:last-child{
    border: none;
}
#editShow{
    display: none;
    transition: .5s;
}
/* side content menu */
.marginRight i{
    cursor: pointer;
}
.marginRight i:hover{
    color: orange;
    transform: scale(1.1);
}
/* etop fa-minus */
.eTop .fa-minus:hover{
    cursor: pointer;
    transform: scale(1.1);
    color: orange;
}